###OGC GetCapabilities

Do they even contain text? Not so much, no.

In [2]:
%matplotlib inline
import pandas as pd
import json as js  # name conflict with sqla
import sqlalchemy as sqla
from sqlalchemy.orm import sessionmaker
from IPython.display import display
from IPython.display import Image

In [3]:
# grab the clean text from the rds
with open('../local/big_rds.conf', 'r') as f:
    conf = js.loads(f.read())

# our connection
engine = sqla.create_engine(conf.get('connection'))

In [3]:
# average completeness (tokens / expected)
sql = """
select round(avg(json_array_length(tokens) / expected_total::numeric * 100.), 2) as mean_pct,
    round(avg(json_array_length(tokens)), 2) as mean_elements
from ogc_tokens;
"""
df = pd.read_sql(sql, engine)
df

   mean_pct  mean_elements
0     32.02           6.33

So a mean of 30% - of the 19 (wms service) or 22 (ows serviceidentification/serviceprovider) elements we're counting, we get an average of ~6 elements included.

We know that the presence of an element doesn't mean the presence of informative text. The Name element is notorious for this, often defaulting to "WMS" only. Token count is also not great for a lot of these elements. A lot of the Provider information is limited to one token conceptually. 

So what happens if we look at title, abstract and keywords (our high-information elements)?

In [6]:
# how many, ignoring NAME, title or abstract elements are simply 'W*S' 
# where * is a wildcard

sql = """
with t as (
	select id, response_id, 
		trim(both '"' from (j.value->'tag')::text) as tag, 
		trim(both '"' from (j.value->'values')::text) as tokens
	from ogc_tokens, json_array_elements(tokens) j
	where trim(both '"' from (j.value->'tag')::text) ilike '%%/Abstract' 
		or trim(both '"' from (j.value->'tag')::text) ilike '%%/Title' 
		or trim(both '"' from (j.value->'tag')::text) ilike '%%/KeywordList/%%'
)
select count(*) as num_elements, 
	round(count(*) / 24248. * 100., 2) as pct_elements,
	count(distinct t.id) as num_responses,
	round(count(distinct t.id) / 3828. * 100., 2) as pct_responses
from t
where (t.tag ilike '%%/Abstract' or t.tag ilike '%%/Title') 
	and (t.tokens ilike 'W%%S' or t.tokens ='CSW' or t.tokens = 'SOS' or t.tokens ilike 'OGC:W%%S');
"""

# we have, from the set, a total of 24,248 extracted elements for our three patterns
# across 3828 responses (getcapabilities only)
df = pd.read_sql(sql, engine)
df

   num_elements  pct_elements  num_responses  pct_responses
0           724          2.99            481          12.57

Alright, that's just shy of 20% of the responses have the main identification elements defaulting to the service acronym.

We'll exclude those from the token counts.

In [8]:
# average number of tokens per bucket

sql = """
with t as (
	select id, response_id, 
		trim(both '"' from (j.value->'tag')::text) as original_tag, 
		case
			when trim(both '"' from (j.value->'tag')::text) ilike '%%/Abstract' then 'abstract'
			when trim(both '"' from (j.value->'tag')::text) ilike '%%/Title' then 'title'
			when trim(both '"' from (j.value->'tag')::text) ilike '%%/Keyword%%' then 'keyword'
		end as tag,
		replace(trim(both '"' from (j.value->'values')::text), ' | ', ' ') as token_string,
		regexp_split_to_array(replace(trim(both '"' from (j.value->'values')::text), ' | ', ' '), E'\\\s+') as tokens
	from ogc_tokens, json_array_elements(tokens) j
	where trim(both '"' from (j.value->'tag')::text) ilike '%%/Abstract' 
		or trim(both '"' from (j.value->'tag')::text) ilike '%%Title' 
		or trim(both '"' from (j.value->'tag')::text) ilike '%%/Keyword%%'
)
select t.tag, 
	round(avg(array_length(t.tokens, 1)), 2) as average_tokens,
	min(array_length(t.tokens, 1)) as min_tokens,
	max(array_length(t.tokens, 1)) as max_tokens
from t
where not((t.tag ilike 'abstract' or t.tag ilike 'title') 
	and (t.token_string ilike 'W%%S' or t.token_string ='CSW' or t.token_string = 'SOS' or t.token_string ilike 'OGC:W%%S'))
group by t.tag
order by average_tokens DESC;
"""
df = pd.read_sql(sql, engine)
df

        tag  average_tokens  min_tokens  max_tokens
0  abstract           25.27           1        3161
1   keyword            6.90           1         111
2     title            2.13           1          21

In [9]:
# average tokens per element

sql = """
with t as (
	select id, response_id, 
		trim(both '"' from (j.value->'tag')::text) as original_tag, 
		(string_to_array(trim(both '"' from (j.value->'tag')::text), '/'))[array_upper(string_to_array(trim(both '"' from (j.value->'tag')::text), '/'), 1)] as tag,
		regexp_split_to_array(replace(trim(both '"' from (j.value->'values')::text), ' | ', ' '), E'\\\s+') as tokens
	from ogc_tokens, json_array_elements(tokens) j
)
select t.tag, 
	round(avg(array_length(t.tokens, 1)), 2) as average_tokens,
	min(array_length(t.tokens, 1)) as min_tokens,
	max(array_length(t.tokens, 1)) as max_tokens
from t
group by t.tag
order by average_tokens DESC;
"""

df = pd.read_sql(sql, engine)
df

                             tag  average_tokens  min_tokens  max_tokens
0                       Abstract           19.03           1        3161
1                           Name           15.32           1         603
2              AccessConstraints            8.01           1         288
3                        Keyword            6.90           1         111
4                  DeliveryPoint            5.69           1          11
5                        Address            5.66           1          11
6                 HoursOfService            4.35           1          24
7                   ProviderName            4.22           1          17
8            ContactInstructions            3.64           1          16
9            ContactOrganization            3.59           1          19
10                 ContactPerson            2.06           1           9
11               ContactPosition            2.05           1           8
12                IndividualName            2.04           1           9
13                  PositionName            2.03           1           4
14                         Title            2.01           1          21
15         ContactVoiceTelephone            1.77           1           6
16                   ServiceType            1.77           1           2
17                         Voice            1.71           1           5
18                   AddressType            1.60           1           5
19     ContactFacsimileTelephone            1.54           1           6
20                     Facsimile            1.43           1           5
21                    PostalCode            1.10           1           4
22            ServiceTypeVersion            1.10           1           4
23                      PostCode            1.08           1           2
24         ElectronicMailAddress            1.06           1           5
25                       Country            1.06           1           4
26                          City            1.04           1           3
27               StateOrProvince            1.03           1           3
28            AdministrativeArea            1.03           1           2
29                          Fees            1.01           1           3
30                         @href            1.00           1           2
31  ContactElectronicMailAddress            1.00           1           1

Except these kinds of buckets don't recognize the distributions of the subsets - how much of the skew is related to a third of the responses coming from one host, for example?


Number of Hosts serving responses that have varying token counts for a Tag

| Tag                       | Hosts with Varying Token Counts | Percent of OGC Hosts | 
|---------------------------|---------------------------------|----------------------| 
| Abstract                  | 50                              | 22.6                 | 
| AccessConstraints         | 9                               | 4.1                  | 
| Address                   | 6                               | 2.7                  | 
| AddressType               | 6                               | 2.7                  | 
| ContactFacsimileTelephone | 2                               | 0.9                  | 
| ContactInstructions       | 1                               | 0.5                  | 
| ContactOrganization       | 9                               | 4.1                  | 
| ContactPerson             | 10                              | 4.5                  | 
| ContactPosition           | 11                              | 5.0                  | 
| ContactVoiceTelephone     | 3                               | 1.4                  | 
| Country                   | 5                               | 2.3                  | 
| DeliveryPoint             | 2                               | 0.9                  | 
| Fees                      | 2                               | 0.9                  | 
| HoursOfService            | 3                               | 1.4                  | 
| IndividualName            | 3                               | 1.4                  | 
| Keyword                   | 26                              | 11.8                 | 
| Name                      | 29                              | 13.1                 | 
| PositionName              | 6                               | 2.7                  | 
| PostalCode                | 1                               | 0.5                  | 
| PostCode                  | 1                               | 0.5                  | 
| ProviderName              | 2                               | 0.9                  | 
| ServiceType               | 12                              | 5.4                  | 
| ServiceTypeVersion        | 5                               | 2.3                  | 
| StateOrProvince           | 3                               | 1.4                  | 
| Title                     | 42                              | 19.0                 | 
| Voice                     | 3                               | 1.4                  | 


(The OGC includes responses from 221 hosts total.)

In [7]:
# thoughts on the variation - where is it *not* found?
# excluding the contact infor because that is expected
# to be the same publisher info

sql = """
with t as (
	select id, response_id, 
		trim(both '"' from (j.value->'tag')::text) as original_tag, 
		(string_to_array(trim(both '"' from (j.value->'tag')::text), '/'))[array_upper(string_to_array(trim(both '"' from (j.value->'tag')::text), '/'), 1)] as tag,
		trim(both '"' from (j.value->'values')::text) as tokens
	from ogc_tokens, json_array_elements(tokens) j
)
select distinct t.tag, t.tokens, count(t.tokens) as num_per_tag
from t
where t.original_tag not ilike '%%/Contact%%' and t.tag != '@href'
group by t.tag, t.tokens
having count(t.tokens) >= 10
order by t.tag, num_per_tag DESC
;
"""
df = pd.read_sql(sql, engine)
with pd.option_context('display.max_rows', 200):
    display(df)

,tag,tokens,num_per_tag
0,Abstract,WMS,396
1,Abstract,Scientific Data,319
2,Abstract,A compliant implementation of WMS plus most of...,19
3,Abstract,This is the reference implementation of WFS 1....,18
4,Abstract,Map service to support the Coastal Flood Expos...,13
5,AccessConstraints,none,788
6,AccessConstraints,None,110
7,AccessConstraints,NONE,95
8,AccessConstraints,Although these data have been processed succes...,17
9,AccessConstraints,None. The Kansas Biological Survey (KBS) and i...,13
10,Fees,none,703
11,Fees,None,382
12,Fees,NONE,134
13,IndividualName,GStore Support,42
14,IndividualName,Melony Barrett,42
15,IndividualName,Geoinformatics,37
16,IndividualName,Peter N. Schweitzer,26
17,IndividualName,Gary Johnson,21
18,Keyword,meteorology | atmosphere | climate | ocean | e...,214
19,Keyword,bathymetry | lidar | topography | ocean | eart...,109
20,Keyword,RGIS | New Mexico,84
21,Keyword,WFS | WMS | GEOSERVER,20
22,Keyword,infoMapAccessService,14
23,Keyword,"flooding, storm surge, sea level rise, exposur...",13
24,Keyword,ArcIMS,10
25,Name,WMS,1086
26,Name,OGC:WMS,226
27,Name,MapServer WFS,157
28,PositionName,GIS Specialist,43
29,PositionName,technical support,42
30,PositionName,Geoinformatics Manager,37
31,PositionName,Geologist,30
32,PositionName,IT Professional II,21
33,ProviderName,Arizona Geological Survey,45
34,ProviderName,Earth Data Analysis Center,42
35,ProviderName,Illinois State Geological Survey,42
36,ProviderName,Nevada Bureau of Mines and Geology,27
37,ProviderName,U.S. Geological Survey Mineral Resources Program,26
38,ServiceType,OGC WMTS,792
39,ServiceType,WFS,203
40,ServiceType,OGC WCS,43
41,ServiceType,WCS,39
42,ServiceType,OGC WFS,36
43,ServiceType,CSW,12
44,ServiceTypeVersion,1.0.0,805
45,ServiceTypeVersion,1.1.0,221
46,ServiceTypeVersion,1.1.2,42
47,ServiceTypeVersion,1.0.0 | 1.1.0 | 1.1.1 | 1.1.2,38
48,ServiceTypeVersion,2.0.0,18
49,ServiceTypeVersion,2.0.2,12
50,Title,WMS,281
51,Title,ECCO THREDDS Server,185
52,Title,Coastal and Marine Geology THREDDS Server,109
53,Title,GeoServer Web Feature Service,17
54,Title,GeoServer Web Map Service,16

In [8]:
# elements/expected elements binned for validity
sql = """
with k as 
(
	with t as (
		select id, response_id, expected_total,
			trim(both '"' from (j.value->'tag')::text) as tag, 
			trim(both '"' from (j.value->'values')::text) as tokens
		from ogc_tokens, json_array_elements(tokens) j
	)
	select response_id, count(response_id) as num_tags, 
		round(count(response_id) / max(expected_total)::numeric * 100., 2) as pct_expected
	from t
	group by response_id
)
select r.host, v.valid,
	round(avg(pct_expected), 2) as avg_completed,
	min(pct_expected) as min_expected,
	max(pct_expected) as max_expected
from k
	join responses r on k.response_id = r.id
	left outer join validations v on v.response_id = r.id
group by r.host, v.valid
order by r.host, avg_completed DESC;
"""
df = pd.read_sql(sql, engine)
with pd.option_context('display.max_rows', 200):
    display(df)

,host,valid,avg_completed,min_expected,max_expected
0,107.20.228.18,True,21.05,21.05,21.05
1,acdisc.sci.gsfc.nasa.gov,True,5.26,5.26,5.26
2,apps.fs.fed.us,False,21.05,21.05,21.05
3,apps.fs.fed.us,True,20.38,13.64,21.05
4,apps.fs.usda.gov,True,21.05,21.05,21.05
5,apps.geomatics.gov.nt.ca,True,13.64,13.64,13.64
6,apps.nd.gov,False,59.09,59.09,59.09
7,arcgis.sd.gov,True,13.64,13.64,13.64
8,atlas.geog.pdx.edu,True,14.21,13.64,18.18
9,atlas.resources.ca.gov,False,21.05,21.05,21.05
10,atlas.resources.ca.gov,True,21.05,21.05,21.05
11,atlas.wvgs.wvnet.edu,True,48.57,13.64,84.21
12,atlas.wvgs.wvnet.edu,False,10.53,10.53,10.53
13,basemap.nationalmap.gov,False,30.53,26.32,31.58
14,basemap.nationalmap.gov,True,13.64,13.64,13.64
15,bio.discomap.eea.europa.eu,True,21.05,21.05,21.05
16,bluehub.jrc.ec.europa.eu,False,94.74,94.74,94.74
17,bluehub.jrc.ec.europa.eu,True,94.74,94.74,94.74
18,certmapper.cr.usgs.gov,True,19.04,13.64,100.00
19,certmapper.cr.usgs.gov,False,10.53,10.53,10.53
20,clear3.uconn.edu,True,17.35,13.64,21.05
21,cloud.insideidaho.org,False,27.27,27.27,27.27
22,coastalmap.marine.usgs.gov,True,85.17,50.00,100.00
23,coastalmap.marine.usgs.gov,False,15.55,10.53,84.21
24,coast.noaa.gov,True,25.22,13.64,100.00
25,coast.noaa.gov,False,16.79,5.26,100.00
26,comps.marine.usf.edu,False,40.91,40.91,40.91
27,cwcgom.aoml.noaa.gov,True,87.14,26.32,94.74
28,data.geo.az.gov,True,13.64,13.64,13.64
29,data.gov.au,True,73.68,73.68,73.68
30,data.gov.au,False,59.09,59.09,59.09
31,data.jrc.ec.europa.eu,False,31.82,31.82,31.82
32,data.nanoos.org,False,94.74,94.74,94.74
33,dataserver.nccs.nasa.gov,True,52.63,52.63,52.63
34,data.wien.gv.at,False,39.48,36.84,42.11
35,data.wien.gv.at,True,31.82,31.82,31.82
36,demo.mapserver.org,True,31.58,21.05,42.11
37,demo.mapserver.org,False,5.26,5.26,5.26
38,demo.pycsw.org,True,90.91,90.91,90.91
39,demo.pycsw.org,False,90.91,90.91,90.91
40,demo.storms.ngs.woc.noaa.gov,False,13.64,13.64,13.64
41,disc1.gsfc.nasa.gov,False,31.58,31.58,31.58
42,disc1.sci.gsfc.nasa.gov,False,31.58,31.58,31.58
43,discomap.eea.europa.eu,True,24.01,21.05,68.42
44,dnrmaps.wi.gov,True,13.64,13.64,13.64
45,ebolageonode.org,False,90.91,90.91,90.91
46,ecco.jpl.nasa.gov,True,52.63,52.63,52.63
47,ecco.jpl.nasa.gov,False,5.26,5.26,5.26
48,ec.gc.ca,True,21.05,21.05,21.05
49,eerscmap.usgs.gov,True,13.64,13.64,13.64
50,egis.hud.gov,False,21.05,21.05,21.05
51,egisws02.nos.noaa.gov,True,16.17,5.26,21.05
52,egisws02.nos.noaa.gov,False,10.67,5.26,15.79
53,emis.jrc.ec.europa.eu,False,5.26,5.26,5.26
54,encdirect.noaa.gov,True,21.05,21.05,21.05
55,encdirect.noaa.gov,False,10.18,5.26,10.53
56,esrl.noaa.gov,True,52.63,52.63,52.63
57,esrl.noaa.gov,False,5.26,5.26,5.26
58,eusoils.jrc.ec.europa.eu,True,31.58,31.58,31.58
59,ferret.pmel.noaa.gov,True,52.63,52.63,52.63
60,ferret.pmel.noaa.gov,False,5.26,5.26,5.26
61,gcoos.disl.org,False,40.91,40.91,40.91
62,geo.azmag.gov,True,13.64,13.64,13.64
63,geobrain.laits.gmu.edu,True,54.55,54.55,54.55
64,geobrain.laits.gmu.edu,False,5.26,5.26,5.26
65,geocapa.viacapa.fr,True,94.74,94.74,94.74
66,geodata.epa.gov,True,21.05,21.05,21.05
67,geodata.epa.gov,False,11.74,5.26,21.05
68,geodata.npolar.no,True,13.64,13.64,13.64
69,geonames.nga.mil,False,36.36,36.36,36.36
70,geonetwork4.fao.org,True,21.05,21.05,21.05
71,geonexusr.iowadot.gov,False,20.76,18.18,21.05
72,geonexusr.iowadot.gov,True,13.64,13.64,13.64
73,geoportal-geoportail.gc.ca,True,17.62,13.64,21.05
74,geoport.whoi.edu,True,57.89,57.89,57.89
75,geo.prgap.org,True,63.64,63.64,63.64
76,geo.prgap.org,False,31.58,31.58,31.58
77,geo.stat.fi,True,36.84,36.84,36.84
78,geo.stat.fi,False,10.53,10.53,10.53
79,geo.sv.rostock.de,True,92.98,84.21,100.00
80,geothermal.isgs.illinois.edu,False,89.47,89.47,89.47
81,geothermal.isgs.illinois.edu,True,82.09,63.64,89.47
82,geothermal.smu.edu,True,73.68,73.68,73.68
83,geothermal.smu.edu,False,31.58,31.58,31.58
84,gis1.usgs.gov,False,17.23,5.26,100.00
85,gis1.usgs.gov,True,15.12,13.64,21.05
86,gis2.metc.state.mn.us,True,18.73,13.64,21.05
87,gis.breconbeacons.org,False,89.47,89.47,89.47
88,gis.ccom.unh.edu,True,13.64,13.64,13.64
89,gis.cdatribe-nsn.gov,True,13.64,13.64,13.64
90,gis.charttools.noaa.gov,True,21.05,21.05,21.05
91,gis.charttools.noaa.gov,False,18.18,18.18,18.18
92,gis.chesapeakebay.net,True,21.05,21.05,21.05
93,gis.ers.usda.gov,True,13.64,13.64,13.64
94,gis.fema.gov,False,21.05,21.05,21.05
95,gis.fws.gov,True,21.05,21.05,21.05
96,gis.indiana.edu,True,89.47,89.47,89.47
97,gis.indiana.edu,False,36.36,36.36,36.36
98,gisinfo.co.walworth.wi.us,True,13.64,13.64,13.64
99,gis.ktn.gv.at,True,13.64,13.64,13.64
...,...,...,...,...,...
187,neowms.sci.gsfc.nasa.gov,True,94.74,94.74,94.74
188,ngamaps.geointapps.org,True,21.05,21.05,21.05
189,ngs.woc.noaa.gov,True,15.79,15.79,15.79
190,ngs.woc.noaa.gov,False,13.64,13.64,13.64
191,noise.discomap.eea.europa.eu,True,68.42,68.42,68.42
192,nowcoast.noaa.gov,True,84.21,84.21,84.21
193,ogc.gina.alaska.edu,True,21.05,21.05,21.05
194,onegeology.org,True,94.74,94.74,94.74
195,oos.soest.hawaii.edu,True,52.63,52.63,52.63
196,oos.soest.hawaii.edu,False,5.26,5.26,5.26
197,opendataserver.ashevillenc.gov,True,63.64,63.64,63.64
198,osmc.noaa.gov,True,52.63,52.63,52.63
199,portal.ina-sdi.or.id,True,13.64,13.64,13.64
200,programs.iowadnr.gov,True,13.64,13.64,13.64
201,raster.nationalmap.gov,False,26.44,10.53,63.64
202,raster.nationalmap.gov,True,21.05,21.05,21.05
203,recon.sccf.org,False,72.73,72.73,72.73
204,resource.sgu.se,False,82.29,73.68,89.47
205,resource.sgu.se,True,73.68,73.68,73.68
206,rmgsc.cr.usgs.gov,False,10.53,10.53,10.53
207,rsg.pml.ac.uk,True,26.32,26.32,26.32
208,rsg.pml.ac.uk,False,5.26,5.26,5.26
209,sampleserver1.arcgisonline.com,False,10.53,10.53,10.53
210,sccoos-obs0.ucsd.edu,True,40.91,40.91,40.91
211,schemas.opengis.net,True,94.74,94.74,94.74
212,sdmdataaccess.nrcs.usda.gov,False,21.05,21.05,21.05
213,seamlessrnc.nauticalcharts.noaa.gov,True,21.05,21.05,21.05
214,sedac.ciesin.org,False,37.38,31.58,45.45
215,sedac.ciesin.org,True,5.26,5.26,5.26
216,sedsh127.sedsh.gov.uk,False,100.00,100.00,100.00
217,sedsh127.sedsh.gov.uk,True,84.21,84.21,84.21
218,services.aad.gov.au,False,68.18,68.18,68.18
219,services.azgs.az.gov,True,78.13,21.05,100.00
220,services.azgs.az.gov,False,69.53,47.37,84.21
221,services.geocirrus.co.nz,True,13.64,13.64,13.64
222,services.geog.ksu.edu,True,13.64,13.64,13.64
223,services.information.qld.gov.au,False,78.95,78.95,78.95
224,services.kgs.ku.edu,True,45.46,13.64,77.27
225,services.nationalmap.gov,False,21.05,21.05,21.05
226,services.nationalmap.gov,True,19.75,18.18,21.05
227,services.sandre.eaufrance.fr,True,77.27,77.27,77.27
228,services.wvgis.wvu.edu,True,14.57,13.64,21.05
229,sg.geodatenzentrum.de,True,88.92,77.27,94.74
230,snow.proto.gina.alaska.edu,True,68.18,68.18,68.18
231,srfs.wr.usgs.gov,False,15.79,10.53,21.05
232,stellwagen.er.usgs.gov,True,57.89,57.89,57.89
233,stellwagen.er.usgs.gov,False,5.26,5.26,5.26
234,storms.ngs.noaa.gov,True,15.79,15.79,15.79
235,storms.ngs.noaa.gov,False,13.64,13.64,13.64
236,tabs2.gerg.tamu.edu,False,40.91,40.91,40.91
237,taskman.eionet.europa.eu,False,86.36,86.36,86.36
238,tds.glos.us,True,57.89,57.89,57.89
239,tigerweb.geo.census.gov,True,13.90,13.64,21.05
240,tnmap.tn.gov,True,13.64,13.64,13.64
241,tpwd.texas.gov,True,13.64,13.64,13.64
242,vmap0.tiles.osgeo.org,True,15.79,15.79,15.79
243,w4.jcommops.org,True,42.11,42.11,42.11
244,water.discomap.eea.europa.eu,True,21.05,21.05,21.05
245,web2.nbmg.unr.edu,False,85.64,21.05,100.00
246,web2.nbmg.unr.edu,True,79.47,68.18,100.00
247,webarchive.nationalarchives.gov.uk,False,77.42,36.84,100.00
248,webarchive.nationalarchives.gov.uk,True,63.64,63.64,63.64
249,webgis.uwm.edu,True,13.64,13.64,13.64
250,webqa.coast.noaa.gov,True,13.64,13.64,13.64
251,webservices.nationalatlas.gov,True,44.74,42.11,50.00
252,webservices.nationalatlas.gov,False,42.11,42.11,42.11
253,webservices.npws.ie,True,21.05,21.05,21.05
254,wildfire.cr.usgs.gov,False,10.53,10.53,10.53
255,wms.alaskamapped.org,False,21.05,21.05,21.05
256,wms.geo.admin.ch,True,84.21,84.21,84.21
257,wms.proto.gina.alaska.edu,False,15.79,15.79,15.79
258,wrecks.nauticalcharts.noaa.gov,False,21.05,21.05,21.05
259,wrecks.nauticalcharts.noaa.gov,True,21.05,21.05,21.05
260,www2.guildford.gov.uk,True,84.21,84.21,84.21
261,www.agr.gc.ca,False,52.63,52.63,52.63
262,www.coast.noaa.gov,False,70.17,21.05,100.00
263,www.coast.noaa.gov,True,18.86,13.64,100.00
264,www.csc.noaa.gov,False,10.53,10.53,10.53
265,www.esrl.noaa.gov,True,52.63,52.63,52.63
266,www.esrl.noaa.gov,False,5.26,5.26,5.26
267,www.geochron.org,True,51.32,50.00,52.63
268,www.geocommunicator.gov,True,21.05,21.05,21.05
269,www.geocommunicator.gov,False,21.05,21.05,21.05
270,www.gis.northlincs.gov.uk,False,31.58,31.58,31.58
271,www.mapasdelapalma.es,False,21.05,21.05,21.05
272,www.marine-geo.org,True,32.90,31.58,36.84
273,www.maris.state.ms.us,True,13.64,13.64,13.64
274,www.ncddc.noaa.gov,False,16.58,5.26,27.27
275,www.neracoos.org,False,77.27,77.27,77.27
276,www.onegeology.org,True,94.74,94.74,94.74
277,www.oregongeology.org,False,21.05,21.05,21.05
278,www.oregongeology.org,True,20.38,13.64,22.73
279,www.salford.gov.uk,True,89.47,89.47,89.47
280,www.salford.gov.uk,False,72.25,63.64,89.47
281,www.southampton.gov.uk,True,73.68,73.68,73.68
282,www.usap-data.org,True,15.79,15.79,15.79
283,www.webapps.nwfsc.noaa.gov,False,21.05,21.05,21.05
284,www.webapps.nwfsc.noaa.gov,True,13.64,13.64,13.64
285,xml2.des.state.nh.us,False,76.02,68.18,84.21
286,xml2.des.state.nh.us,True,34.81,18.18,78.95



<img src="screenshots/ogc_elements_invalid.png" width="300" style="float:left;margin-right:50px;"/>
<img src="screenshots/ogc_elements_valid.png" width="350" style="float:left;"/>

These are a little goofy. On the left, average, minimum and maximum elements included/expected elements from **invalid** responses from a server. On the right, average, minimum and maximum elements included/expected elements from **valid** responses from a server. 

The areas that aren't sort of orange are where there's variation in the number of elements emmitted as part of the GetCapabilities. So orange-ish is no variation in the presence of elements in the responses for a server; yellow/green blocks are servers that do vary in what is included in the GetCapabilities. There's not a good pattern, like low completion percent is automatically invalid. The validity is based on the entire document, not just the service information.